<c-card *ngIf="isObjectNotEmpty(user); else loadingBlock" class="p-5">
    <c-row>
        <c-col md="2">
            <!-- TODO load pictures somehow -->
            <div class="text-center">
                <img cImg height="200" src="assets/img/ted.jpg" style="max-width:100%; height: auto;" width="200" />
            </div>
            <h5 class="text-center" cCardTitle>Социальные сети </h5>
            <div style=" box-sizing: border-box; padding-inline: 5px;" class="text-center">
                <ng-container *ngFor="let social of user.socials | keyvalue">
                    <ng-container *ngIf="isSupportedSocial(social.key)">
                        <a class="px-2" cNavLink href={{social.value}}>
                            
                            <svg cIcon name="{{socialIcons[social.key.toLowerCase()]}}" size="xl"></svg>
                        </a>
                    </ng-container>
                </ng-container>
            </div>
            
        </c-col>
        <!--TODO insert actual data-->
        <c-col md="3">
                <h4  cCardTitle>{{user.name}}, {{user.age}} </h4> 
                <h5 class="mt-3" cCardTitle>Инстурменты </h5>
                <span cCardText *ngFor="let instrument of user.instruments; let last = last">
                    {{ instrument.name }}{{ !last ? ', ' : '' }}
                    <!-- {{ user.instruments.map((e: InstrumentDto) => e.name).join(', ') }} -->
                    <!-- Гитара, Бас, Барабаны и тд -->
                </span>
                
                <h5 class="mt-3" cCardTitle>Жанры </h5>
                <span cCardText *ngFor="let genre of user.genres; let last = last">
                    {{ genre.name }}{{ !last ? ', ' : '' }}
                    <!-- Пост-панк, дрим-поп, шугейз -->
                </span>
                <h5 class="mt-3" cCardTitle>Кого ищу </h5>
                <span cCardText>
                    {{user.searchingFor}}
                    <!-- Барабанщика в группу -->
                </span>
        </c-col>
        <c-col md="3">
            <h4 cCardTitle>Минск </h4>
            <h5 class="mt-3" cCardTitle>О себе </h5>
            <span cCardText>
                {{user.description}}
                <!-- This is a wider card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer. -->
            </span>
            
        </c-col>
        <c-col md="3">
            <h4 cCardTitle>Музыка </h4>
            <h5 class="mt-3" cCardTitle>Исполнители </h5>
            <span cCardText *ngFor="let artist of user.artists; let last = last">
                {{ artist.name }}{{ !last ? ', ' : '' }}
                <!-- гой дивижн, радиобэд, кофе из виталюра, дикпиксис -->
            </span>
            <h5 class="mt-3" cCardTitle>Песни </h5>
            <span cCardText *ngFor="let song of user.songs; let last = last">
                {{ song.name }}{{ !last ? ', ' : '' }}
                <!-- я сосал у лимонова -->
            </span>
            <h5 class="mt-3" cCardTitle>Релизы </h5>
            <span cCardText *ngFor="let release of user.releases; let last = last">
                {{ release.name }}{{ !last ? ', ' : '' }}
                <!-- the money store - death grips -->
            </span>
        </c-col>
    </c-row>
    <c-row>
        <c-col col="12" >
            <div class="text-center">
                <button cButton size="lg" color="primary" [routerLink]="editButtonRouterLink">{{ editButtonLabel }}</button>
                <!-- <button cButton size="lg" color="primary">Редактировать</button> -->
            </div>
            
        </c-col>
        
    </c-row>
</c-card> <!--TODO add "next" button -->

<ng-template #loadingBlock >
    
    <div style="height: 80vh;display: flex; justify-content: center; align-items: center;"> <h5>Loading...</h5> </div>
    
</ng-template>