<form [formGroup]="searchInfoForm" class="p-5">
    
    <c-row class="g-3">
        <c-col md="4">
            <label cLabel for="searchingFor">Кого ищу</label>
            <textarea rows="4" cFormControl placeholder="Барабанщика в группу" type="text" id="searchingFor" formControlName="searchingFor"></textarea>
        </c-col>
    <c-col md="4">
        <label cLabel for="description">О себе</label>
        <textarea rows="4" cFormControl placeholder="Играю на гитаре и пою" type="text" id="description" formControlName="description"></textarea>
    </c-col>
    <c-col md="4">
        <label cLabel for="instruments">Инстурменты</label>
        <ng-container *ngIf="instruments; else loadingBlock">
            <ng-select cFormControl id="instruments" formControlName="instruments" [items]="instruments"
               bindLabel="name" bindValue="id" placeholder="Выберите инструмент" [multiple]="true">
             </ng-select>

        </ng-container>
    </c-col>

    </c-row>   
  
    <!-- Button to change step -->
    <c-row class="g-3 py-2">
        <c-col md="12">
            <div class="text-center">
                <span class="px-2">
                    <button cFormControl type="button"  (click)="doChangeStep('back')" class="btn btn-light ">Назад</button>
                </span>
                <span class="px-2">
                    <button [disabled]="searchInfoForm.invalid" cFormControl type="button" (click)="doChangeStep('forward')" class="btn btn-primary">Далее</button>
                </span> 
            </div>
        </c-col>
    </c-row>
</form>
<ng-template #loadingBlock >
    
    <div style="display: flex; justify-content: center; align-items: center;"> <h5>Loading...</h5> </div>
    
</ng-template>