<ng-container [ngSwitch]="currentStep$ | async">
  <h3 class="text-center py-3" cCardTitle> Регистрация </h3>  
  <c-card>
    <app-login-info 
      *ngSwitchCase="'loginInfo'" 
      [startingForm]="userForm.get('loginInfo')?.value" 
      (subformInitialized)="subformInitialized('loginInfo', $event)" 
      (changeStep)="changeStep('loginInfoStep', $event)"
      
    ></app-login-info>
    <app-personal-info 
      *ngSwitchCase="'personalInfo'" 
      [startingForm]="userForm.get('personalInfo')?.value" 
      (subformInitialized)="subformInitialized('personalInfo', $event)" 
      (changeStep)="changeStep('personalInfoStep', $event)"
    ></app-personal-info>
    <app-search-info 
      *ngSwitchCase="'searchInfo'" 
      [startingForm]="userForm.get('searchInfo')?.value" 
      (subformInitialized)="subformInitialized('searchInfo', $event)" 
      (changeStep)="changeStep('searchInfoStep', $event)"
    ></app-search-info>
    <app-music-favorites-info 
      *ngSwitchCase="'musicFavoritesInfo'" 
      [startingForm]="userForm.get('musicFavoritesInfo')?.value" 
      (subformInitialized)="subformInitialized('musicFavoritesInfo', $event)" 
      (changeStep)="changeStep('musicFavoritesInfoStep', $event)"
      (submitForm)="submitForm()"
    ></app-music-favorites-info >
    <div *ngIf="errorMessage" class="text-danger text-center">
      {{ errorMessage }}
    </div>
  </c-card>

</ng-container>