<c-header>
  <c-container fluid >
    <c-header-brand [routerLink] class="fw-bold text-decoration-underline">MusiFindMe</c-header-brand>
    <c-header-nav class="ms-auto">
      <c-nav-item>
        <a cNavLink routerLink="/help">Помощь</a> <!-- TODO add proper links--> 
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/people">Люди</a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/events">События</a>
      </c-nav-item>
      <c-nav-item >
        <a cNavLink routerLink="/profile">Профиль</a>
      </c-nav-item>
      <c-avatar src="../../assets/img/ted.jpg" ></c-avatar> <!-- TODO add real image--> 
      <c-dropdown alignment="end">
        <a cHeaderToggler cDropdownToggle cNavLink [caret]="false"></a>
        <ul cDropdownMenu>
          <li><a [routerLink] cDropdownItem>Action</a></li>
          <li><a [routerLink] cDropdownItem>Another action</a></li>
          <li>
            <hr cDropdownDivider>
          </li>
          <li><a [routerLink] cDropdownItem>Something else</a></li>
        </ul>
      </c-dropdown>
    </c-header-nav>
  </c-container>
</c-header>
