<c-card class="home-card">
    <c-card-header>
      <h5 class="card-title text-center">Добро пожаловать в <span class="fs-5 fw-bold">MusiFindMe</span>!</h5>
    </c-card-header>
    <c-card-body>
      <p class="card-text text-center">
        <span class="fs-5 fw-bold">MusiFindMe</span> - это сервис знакомств для музыкантов, где вы можете найти идеального участника для вашей группы,
        собрать ансамбль для выступлений или просто найти единомышленников в сфере музыки.
      </p>
      <p class="card-text text-center">
        Наш сервис поможет вам найти людей с похожим музыкальным вкусом, общими интересами и желанием сотрудничать в
        музыкальных проектах. Независимо от того, ищете ли вы гитариста, барабанщика, вокалиста или просто компанию
        для совместного музицирования, <span class="fw-bold">MusiFindMe</span> поможет вам найти идеального партнера.
      </p>
      <p class="card-text text-center">
        Присоединяйтесь к <span class="fw-bold">MusiFindMe</span> прямо сейчас и начните свое музыкальное приключение!
      </p>
    </c-card-body>
  </c-card>
  