<form [formGroup]="musicFavoritesInfoForm" (ngSubmit)="onSubmit()" class="p-5">
    <!-- Input fields for personal info -->
    <c-row class="g-3">
        <c-col md="6">
            <label cLabel for="genres">Жанры</label>
            <ng-container *ngIf="genres; else loadingBlock">
                <ng-select cFormControl id="genres" formControlName="genres" [items]="genres"
                           bindLabel="name" bindValue="id" placeholder="Выберите жанры" [multiple]="true">
                </ng-select>
            </ng-container>
            <!-- <input cFormControl placeholder="хз-панк" type="text" id="genres" formControlName="genres"> -->
        </c-col>
        <c-col md="6">
            <label cLabel for="artists">Исполнители</label>
            <ng-container *ngIf="artists; else loadingBlock">
                <ng-select cFormControl id="artists" formControlName="artists" [items]="artists"
                           bindLabel="name" bindValue="id" placeholder="Выберите исполнителей" [multiple]="true">
                </ng-select>
            </ng-container>
            <!-- <input cFormControl placeholder="хз + хз" type="text" id="artists" formControlName="artists"> -->
        </c-col>
    </c-row>
    <c-row class="g-3">
        <c-col md="6">
            <label cLabel for="releases">Релизы</label>
            <!-- <ng-container *ngIf="releases; else loadingBlock">
                <ng-select cFormControl id="releases" formControlName="releases" [items]="releases"
                           bindLabel="name" bindValue="id" placeholder="Выберите релизы" [multiple]="true">
                </ng-select>
            </ng-container> -->
            <ng-container *ngIf="releases; else loadingBlock">
                <ng-select cFormControl id="releases" formControlName="releases"
                    [items]="releases" bindLabel="name"
                    placeholder="Выберите релизы" [multiple]="true">

                    <!-- Custom label template -->
                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                      <span>{{ customReleaseLabel(item) }}</span>
                      <span class="ng-value-icon right" (click)="clear(item)">×</span>
                    </ng-template>
                    
                    <!-- Custom option template -->
                    <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                      <span>{{ customReleaseLabel(item) }}</span>
                    </ng-template>
                  
                  </ng-select>
            </ng-container>
            
        </c-col>
        <c-col md="6">
            <label cLabel for="songs">Песни</label>
            <ng-container *ngIf="songs; else loadingBlock">
                <ng-select cFormControl id="songs" formControlName="songs"
                    [items]="songs" bindLabel="name"
                    placeholder="Выберите песни" [multiple]="true">
            
                    <!-- Custom label template -->
                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        <span>{{ customSongLabel(item) }}</span>
                        <span class="ng-value-icon right" (click)="clear(item)">×</span>
                    </ng-template>
                                
                    <!-- Custom option template -->
                    <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                        <span>{{ customSongLabel(item) }}</span>
                    </ng-template>
                </ng-select>
            </ng-container>
        </c-col>
    </c-row>
 
  
    <!-- Button to change step -->
    <!-- <button (click)="doChangeStep('forward')">Next</button> -->
    <!-- <button (click)="doChangeStep('back')">Back</button> -->
    <!-- <button type="submit">Submit</button> -->
    <c-row class="g-3 py-2">
        <c-col md="12">
            <div class="text-center">
                <span class="px-2">
                    <button cFormControl type="button"  (click)="doChangeStep('back')" class="btn btn-light ">Назад</button>
                </span>
                <span class="px-2">
                    <button cFormControl type="submit" class="btn btn-primary">Сохранить</button>
                </span> 
            </div>
        </c-col>
    </c-row>
</form>
  
<ng-template #loadingBlock >
    
    <div style="height: 80vh;display: flex; justify-content: center; align-items: center;"> <h5>Loading...</h5> </div>
    
</ng-template>