  <form [formGroup]="loginInfoForm" class="p-5">
    
  <c-row class="g-3">
    <c-col md="6">
        <label cLabel for="email">Эл. почта</label>
        <input cFormControl placeholder="mymail@mail.com" type="email" id="email" formControlName="email">
        
        <div *ngIf="loginInfoForm.get('email')?.hasError('emailTaken')" class="text-danger">
          Этот адрес эл. почты уже занят
        </div>
        <div *ngIf="loginInfoForm.get('email')?.hasError('email')" class="text-danger">
          Неверный адрес эл. почты 
        </div>
        
    </c-col>
    <c-col md="6">
      <!-- <div class="text-center"> -->
        <label cLabel for="password">Пароль</label>
        <input cFormControl type="password" id="password" formControlName="password">
      <!-- </div> -->
    </c-col>
  </c-row>
  <c-row class="g-3 py-2">
    <c-col md="6">

    </c-col>
    <c-col md="6">
      <button [disabled]="loginInfoForm.invalid" cFormControl type="button" (click)="doChangeStep('forward')" class="btn btn-primary">Далее</button>
    </c-col>
  </c-row>
</form>
 